<div class="is-flex" id="vote-buttons">
    <form action="/votes/{{scribble_id}}" method="post">

        {% for button in self.get_vote_info() %}

        <button type="submit"
                class="clear-button"
                title="{{button.title}}"
                name="vote"
                value="{{button.value}}"
                id="vote-button-{{button.value}}"
                {% if is_owner %} disabled {% endif %}>

            <span class="icon">
                <i class="fas {{button.icon}} has-text-{{button.colour}}"></i>
            </span>

            <span {% if button.user_votes %} class="has-text-weight-bold" {% endif %}>
                {{button.count}}
            </span>

        </button>

        {% endfor %}
    </form>
</div>

<p class="help"><a href="/info/voting">What is voting?</a></p>
