@charset "utf-8";

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";

$purple: #524a98;
$dark-purple: darken($purple, 10%);
$light-blue: #bbccf8ba;
$lighter-blue: #c0c9f6;
$grey: #38393d;
$white: #ffffff;

$primary: $purple;
//$link: $cyan;
//$info: $cyan;
//$success: $green;
//$warning: $yellow;
//$danger: $red;
//$dark: $grey-darker;
$text: $grey;

// Bulma must be after variables, but before overrides
@import "~bulma/bulma";

/* Removes style from a button. Used to just show an icon or text in the middle*/
.clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

strong {
  color: $purple;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: $light-blue;
  color: $grey;
}

.has-shadow {
  box-shadow: $dark-purple 2px 2px 2px;
}

@include touch {
  #main-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.button {
  color: $white;
  background-color: $purple;
  border: 0 solid;
  border-radius: 0px;

  transition: color 0.1s, transform 0.1s, background-color 0.1s, box-shadow 0.1s;
  box-shadow: $dark-purple 2px 2px 2px;

  &:hover,
  &:active {
    color: $white;
    background-color: $dark-purple;
    box-shadow: $dark-purple 0 0 2px;
  }
}

.title {
  color: $dark-purple;
}

.navbar {
  background: $lighter-blue;
  border-bottom: 2px solid $purple;
}

.navbar-menu {
  background: $lighter-blue;
}

.boxed-text {
  border: 1px solid $purple;
  font-size: xx-large;
  color: $purple;
  font-weight: bold;
  padding: 10px;
  width: 18%;
}

@media screen and (min-width: 1024px) {
  #navbar-menu {
    left: unset;
    right: 0;
  }
}
