<mjml>
  <mj-head>
    <mj-title>Welcome to Bardic Scribbles</mj-title>
  </mj-head>

  <mj-body>
    <mj-section>
      <mj-text> Welcome to Bardic Scribbles, {{username}}. </mj-text>

      <mj-text>
        Please click the following <a href="{{verification_link}}">link</a> to
        verify your email address.
      </mj-text>
    </mj-section>
  </mj-body>
</mjml>
